@font-face {
    font-family: AmalfiCoast;
    src: url('fonts/AmalfiCoast.ttf');

}

:root {
    --fundo: rgb(255, 255, 255);
    --header: rgb(255, 255, 255);
    --icones: #333;
    --logo: #333;
    --btnLogin: #333;
    --btnletter: #fff;
    --search-back: rgb(255, 255, 255);
    --hover-texto: #33e4ff;
    --separator-bonus: #33e4ff;
    --textSearch: #333;
    --sugSearch: #1d1d1d;
    --txtSugSearch: #333;
    --searchTxt: #000;
    --destaque: rgb(255, 255, 255);
    --destaque-p: #333;
    --scrollbar: rgb(255, 255, 255);
    --scrollbar-icon: #000;
    --hover-shoes: #ebebeb;

    --btn-sign-in: #000;
    --btn-sign-in-letter: #fff;


    --produto-p: #000;
    --product: rgba(207, 207, 207);
    --icon-prod: #000;
    --nome-pro: #000;
    --decr-prod: #ebebeb;
    --prod-setas: #000;

    /* footer */
    --footer-a: #9d9d9d;
    --footer-h3: rgb(43, 43, 43);
    --footer-color: rgb(255, 255, 255);
    --linha: #c9cdd1;
    --footer-p: rgb(40, 40, 40);
    --footer-icon: #333;
    --input-background: #e6e6e6;

    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --font-principal: 'system-ui, -apple-system, BlinkMacSystemFont, ' Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, ' Open Sans', ' Helvetica Neue', sans-serif';
    --font-titulos: 'Lora', serif;
    --font-h1: 30px;
    --font-h2: 25px;
    --font-h3: 22px;
    --font-p: 18px;
    --font-a: 16px:
        /*========== Font weight ==========*/
        --font-media: 500;
    --font-semi-negrita: 600;
    /*========== z index ==========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* tema */
.dark-theme {
    --fundo: black;
    --header: black;
    --icones: #fff;
    --logo: #fff;
    --btnLogin: #1b1b1b;

    --btn-sign-in: #fff;
    --btn-sign-in-letter: #000;

    --product: #333;
    --icon-prod: #fff;
    --nome-pro: #fff;
    --decr-prod: #1b1b1b;
    --prod-setas: #fff;
    --produto-p: #fff;
    --hover-shoes: #fff;

    --btnletter: #fff;
    --search-back: black;
    --hover-texto: rgb(25, 82, 76);
    --textSearch: #fff;
    --sugSearch: #626262;
    --txtSugSearch: #fff;
    --searchTxt: #fff;
    --destaque: rgb(66, 66, 66);
    --destaque-p: #fff;
    --scrollbar: #000;
    --scrollbar-icon: #fff;
    /* footer */
    --footer-h3: rgb(233, 233, 233);
    --footer-a: #9f9f9f;
    --border-solid: #dee2e6;
    --footer-color: black;
    --footer-p: rgb(235, 235, 235);
    --footer-icon: rgb(225, 225, 225);
    --linha: rgb(80, 80, 80);
    --input-background: rgb(60, 60, 60);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: var(--fundo);
    transition: all 0.3s ease;
}

.main {
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header);
    width: 100%;
    height: 60px;
    padding: 20px 100px;
    z-index: 1000;
    opacity: 99;
    transition: all 0.2s ease;
}

header.active-search {
    opacity: 0;
    top: -80px;
}

.logo {
    transition: opacity 0.3s ease;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    font-family: AmalfiCoast;
    font-weight: bold;
    font-size: x-large;
    user-select: none;
    color: var(--logo);
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo h1:hover {
    color: var(--hover-texto);
}

nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: 1.1em;
    color: var(--icones);
    font-weight: 500;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

nav a i {
    font-size: 20px;
    margin-right: 30px;
    color: var(--icones);
    cursor: pointer;
}

nav a i:hover {
    color: var(--hover-texto);
}

nav a i::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 50%;
    height: 3px;
    background: var(--hover-texto);
    transform-origin: right;
    border-radius: 50px;
    transform: scale(0);
    transition: transform .3s;
}

nav a i:hover::after {
    transform-origin: left;
    transform: scale(1);
}

.close-nav {
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
}

.menu-nav {
    font-size: 40px;
    color: var(--icones);
    cursor: pointer;
    display: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}


/* load */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 200px auto; */
    z-index: 9999;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#loading div {
    width: 20px;
    height: 20px;
    background-color: rgb(11, 169, 213);
    border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#loading .two {
    animation-delay: 0.3s;
}

#loading .three {
    animation-delay: 0.6s;
}

@keyframes up-and-down {
    to {
        opacity: 0.2;
        transform: translateY(-20px);
    }
}

.hidden {
    display: none;
}

.sign-in {
    width: 100px;
    height: 40px;
    background: var(--btnLogin);
    color: var(--btnletter);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    user-select: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sign-in:hover {
    background: var(--hover-texto);
}

.search {
    position: fixed;
    padding: 20px 100px;
    width: 100%;
    height: 100vh;
    background: var(--search-back);
    opacity: 0;
    z-index: 1;
    top: -800px;
    transition: top 0.3s ease;
}

.search.active-search {
    opacity: 1;
    top: 0;
}

.close-search {
    position: relative;
    display: flex;
    color: var(--icones);
    font-size: 30px;
    justify-content: end;
    align-items: center;
    transition: all 0.3s ease;
}

.close-search i {
    color: var(--icones);
    transition: all 0.3s ease;
    cursor: pointer;
}

.close-search i:hover {
    color: var(--hover-texto);
}

.pesquisa {
    width: 100%;
    height: 80%;
    /* background: #fff; */
    display: -moz-grid;
}

.space-pesquisa {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: blueviolet; */
}

.space-pesquisa input {
    border: none;
    background: transparent;
    outline: none;
    margin-left: 10px;
    font-size: x-large;
    color: var(--searchTxt);
    user-select: none;
}

.space-pesquisa i {
    color: #333;
    font-size: 30px;
    display: inline;
}

.space-pesquisa input::placeholder {
    color: #333;
    opacity: 0.7;
}


.sugestoes-pesquisa {
    width: 200px;
    background: transparent;
}

.sugestoes-pesquisa p {
    color: var(--sugSearch);
    margin-top: 20px;
    user-select: none;
}

.sugestoes-pesquisa ul {
    display: grid;
    margin-top: 20px;
}

.sugestoes-pesquisa ul a {
    text-decoration: none;
    user-select: none;
    color: var(--txtSugSearch);
    margin-bottom: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sugestoes-pesquisa ul a:hover {
    color: var(--hover-texto);
}

.sugestoes-pesquisa ul a i {
    color: #333;
    margin-right: 10px;
    user-select: none;
}


/* destaques */
.scrollable-tabs-container {
    font-family: "Roboto", sans-serif;
    background: var(--scrollbar);
    max-width: 700px;
    margin: 16px auto;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-top: 80px;
}

.scrollable-tabs-container svg {
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
    color: var(--scrollbar-icon);
    /* border-radius: 50%; */
    pointer-events: auto;
    transition: all 0.3s ease;
}

.scrollable-tabs-container ul {
    display: flex;
    gap: 16px;
    padding: 12px 24px;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.scrollable-tabs-container ul.dragging a {
    pointer-events: none;
}

.scrollable-tabs-container ul.dragging {
    scroll-behavior: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
    display: none;
}

.scrollable-tabs-container a {
    color: #fff;
    text-decoration: none;
    background: #333;
    padding: 4px 24px;
    display: inline-block;
    /* border-radius: 4px; */
    user-select: none;
    white-space: nowrap;
}

.scrollable-tabs-container a.active {
    background: #fff;
    color: #000;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    display: none;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
    display: flex;
}

.scrollable-tabs-container .right-arrow {
    right: 0;
    background: linear-gradient(to left, var(--scrollbar) 50%, transparent);
    justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow {
    background: linear-gradient(to right, var(--scrollbar) 50%, transparent);
}

.scrollable-tabs-container svg:hover {
    background: var(--hover-texto);
    color: var(--scrollbar);
}

/* produtos */
.produtos {
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: 460px;
    /* background: #614ad3; */
}

.destaque-produto {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 60px;
    /* background-color: var(--icones); */
}

.destaque-produto p {
    font-family: var(--font-principal);
    font-size: var(--font-p);
    font-weight: var(--font-semi-negrita);
    color: var(--produto-p);
    user-select: none;
    text-transform: uppercase;
}

.destaque-produto a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.destaque-produto a:hover {
    color: var(--hover-texto);
}

.produto {
    /* font-family: "Roboto", sans-serif;
    background: #432;
    max-width: 100%;
    height: 340px;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
    position: relative; */

    font-family: "Roboto", sans-serif;
    background: var(--scrollbar);
    max-width: 100%;
    height: 340px;
    margin: auto;
    /* border-radius: 4px; */
    overflow: hidden;
    position: relative;
}

.produto ul {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;
    background: var(--fundo);
    padding: 12px 24px;
    height: 340px;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.produto li {
    width: 100%;
    height: 100%;
}

.prod {
    /* padding: 10px; */
    width: 100%;
    height: 220px;
    margin: auto;
    /* background: #614ad3; */
}

.prod p {
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--decr-prod);
    color: #00cb55;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.produto img {
    display: flex;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    justify-content: center;
    align-items: center;
}

.descr-prod {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--decr-prod);
    /* border-radius: 20px; */
    margin: auto;
}

.descr-prod p,
i,
span {
    padding: 4px;
}

.descr-prod p {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.descr-prod span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-family: monospace;
    font-weight: bolder;
    color: #00cb55;
    transition: all 0.3s ease;
    cursor: pointer;
}

.descr-prod span:hover,
.icons-prod i:hover {
    color: var(--hover-texto);
}

.icons-prod {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    /* background: #e6e6e6; */
}

.icons-prod i {
    font-size: 24px;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}


/* .opc-prod{
    position: absolute;
    width: 60px;
    height: 20px;
    background: #00cb55;
} */

.produto a {
    width: 250px;
    height: 100%;
    color: var(--nome-pro);
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    padding: 4px 24px;
    display: grid;
    /* border-radius: 20px; */
    user-select: none;
    white-space: nowrap;
    /* margin-right: 20px; */
    transition: all 0.3s ease;
}

.produto a:hover {
    background: var(--product);
}

.produto ul.dragging a {
    pointer-events: none;
}

.produto ul.dragging {
    scroll-behavior: auto;
}

.produto ul::-webkit-scrollbar {
    display: none;
}

.produto svg {
    width: 40px;
    height: 40px;
    /* padding: 8px; */
    cursor: pointer;
    color: var(--scrollbar-icon);
    /* border-radius: 50%; */
    pointer-events: auto;
    transition: all 0.3s ease;
}

.produto ul.dragging a {
    pointer-events: none;
}

.produto ul.dragging {
    scroll-behavior: auto;
}

.produto ul::-webkit-scrollbar {
    display: none;
}

.produto .right-arrow.active,
.produto .left-arrow.active {
    display: flex;
}

.produto .right-arrow,
.produto .left-arrow {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    display: none;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
}


.produto .right-arrow {
    right: 0;
    background: linear-gradient(to left, transparent);
    justify-content: flex-end;
}

.produto .left-arrow {
    background: linear-gradient(to right, transparent);
}

.produto svg:hover {
    background: var(--hover-texto);
    color: var(--scrollbar);
}

/* shoes */
.shoes-prod {
    height: 400px;
}

.shoes-prod ul {
    height: 400px;
}

.descricao-shoes {
    height: 100%;
    width: 100%;
    /* background: #00cb55; */
    display: flex;
}

.preco-shoes {
    display: grid;
    justify-content: start;
    /* align-items: last baseline; */
}

.preco-shoes span {
    padding: 0;
    color: #00cb55;
    cursor: pointer;
}

.preco-shoes p {
    text-decoration: line-through;
    font-size: 12px;
    color: var(--destaque-p);
}

.preco-shoes span:hover {
    color: var(--hover-texto);
}

.shoes-descr {
    display: grid;
    justify-content: start;
    padding-right: 20px;
}

.shoes-prod a {
    cursor: pointer;
}

.shoes-prod a:hover {
    background: var(--hover-shoes);
    color: #000;
}

.nome-shoes h3 {
    font-size: 14px;
}

.nome-shoes h4 {
    font-size: 12px;
    font-weight: 600;
    color: #845d03;
    text-transform: capitalize;
}

.nome-shoes p {
    font-size: 12px;
    text-transform: capitalize;
    color: #626262;
}

.joias-ice p{
    text-transform: uppercase;
    color: var(--btn-sign-in-letter);
}


.shoes-icons {
    width: 100%;
    height: 100%;
    /* background: #614ad3; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px dashed #333;
}

.shoes-icons i {
    font-size: 24px;
}


/* swiper bonus */

.space-bonus {
    width: 100%;
    height: 100%;
    /* background: #00cb55; */
    display: flex;
}

.descricao-bonus {
    width: 40%;
    height: 100%;
    /* background: #614ad3; */
}

.descr-space {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0%, 35%);
}

.descr-space h1 {
    display: flex;
    justify-content: start;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 72%;
    margin-left: 14%;
    margin-right: 14%;
    font-family: var(--font-principal);
    color: var(--btn-sign-in);
    transition: all 0.3s ease;
    user-select: none;
}

.descr-space p {
    text-transform: lowercase;
    text-align: justify;
    width: 72%;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 10px;
    font-family: var(--font-principal);
    color: var(--destaque-p);
    transition: all 0.3s ease;
    user-select: none;
}

/* joias */
.desconto-joias{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 20px;
    background: var(--btn-sign-in);
    font-family: var(--font-principal);
    text-transform: uppercase;
    margin-top: 10px;
}

.btn-bonus-more {
    width: 72%;
    margin-left: 14%;
    margin-right: 14%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-bonus-more button {
    border: none;
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-principal);
    transition: all 0.3s ease;
    background: var(--btn-sign-in);
    color: var(--btn-sign-in-letter);
    user-select: none;
    cursor: pointer;
}

.btn-bonus-more button:hover {
    background: var(--hover-texto);
    color: #fff;
}

.bonus-separator {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bonus-separator i {
    user-select: none;
    color: var(--separator-bonus);
    font-size: 100px;
}

.img-bonus {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-bonus img {
    cursor: pointer;
    user-select: none;
    /* user-zoom: none; */
    transition: transform 0.3s ease-in-out;
}

.img-bonus img:hover {
    transform: scale(1.06);
}

.img_bonus {
    position: relative;
    max-width: 1200px;
    margin: auto;
    height: 400px;
    /* background: black; */
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 90%;
    /* background-color: #333; */
}

.swiper-slide {
    width: 100%;
    height: 100%;
    /* background-color: #f4dfdf; */
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    position: relative;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.bonus-page {
    position: absolute;
    top: 80%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 20px;
    text-align: center;
    width: 350px;
    font-weight: 900;
    font-family: monospace;
    height: 40px;
    background: #f4dfdf;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.bonus-page:hover {
    color: #00cb55;
}

.swiper-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    /* image-rendering: pixelated; */
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #fff;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: red;
}


/* footer */
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    user-select: none;
    margin-top: 100px;
    /* padding: 7rem 0; */
}

.footer_main {
    background-color: var(--footer-color);
    transition: background .4s;
    width: 100%;
    user-select: none;
}

.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo h2 {
    font-family: AmalfiCoast;
    font-size: medium;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid var(--linha);
    margin-bottom: 20px;
    user-select: none;
    color: var(--footer-h3);
    transition: all 0.3s ease;
}

.footer_logo h2:hover {
    color: var(--hover-texto);
}

.footer_conteudo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
}

.coluna h3 {
    font-family: var(--font-principal);
    font-size: var(--font-h3);
    font-weight: var(--font-semi-negrita);
    margin-bottom: 12px;
    user-select: none;
    color: var(--footer-h3);
    /* border-bottom: 1px solid #dee2e6; */
}

.coluna ul {
    list-style: none;
    user-select: none;
}

.coluna ul a {
    text-decoration: none;
    font-family: var(--font-principal);
    font-size: var(--font-a);
    color: var(--footer-a);
    transition: all 0.3s ease;
    cursor: pointer;
    user-select: none;
}

.coluna ul a:hover {
    color: var(--hover-texto);
}

/* #dee2e6 - cor para o separador */

.coluna {
    line-height: 40px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    margin-top: 20px;
}

.coluna p {
    font-family: var(--font-principal);
    font-weight: var(--font-semi-negrita);
    font-size: var(--font-p);
    user-select: none;
    color: var(--footer-p);
}

.forma-controlo {
    background-color: var(--input-background);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    height: 50px;
    width: 100%;
    padding-left: 30px;
    padding-right: 130px;
    outline: none;
    border: none;
    color: var(--footer-icon);
}

.forma-controlo::placeholder {
    font-style: italic;
    opacity: 0.7;
}

.btn-submit {
    background: #614ad3;
    height: 40px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-submit:hover {
    background-color: var(--hover-texto);
}

.subscrever {
    position: relative;
}

.alinhamento_itens {
    border-top: 1px solid var(--linha);
    margin-top: 20px;
}

.social_links {
    display: flex;
    justify-content: flex-end;
}

.social_links li span {
    margin-right: 20px;
    color: var(--footer-icon);
    transition: all 0.3s ease;
    user-select: none;
}

.social_links li span:hover {
    color: var(--hover-texto);
}

.posts_footer {
    border-top: 1px solid var(--linha);
}

.info_footer {
    margin-bottom: 20px;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #979797;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #222224;
}

::-webkit-scrollbar-track {
    background: #fff;
}


/* sign-in */
.sign-in-open {
    position: fixed;
    padding: 20px 100px;
    width: 100%;
    height: 100vh;
    background: url(imagens/img_home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 1;
    top: -800px;
    transition: top 0.3s ease;
}

.sign-in-open.active-signin {
    opacity: 1;
    top: 0;
}

.close-signin {
    position: relative;
    display: flex;
    color: var(--icones);
    font-size: 30px;
    justify-content: end;
    align-items: center;
    transition: all 0.3s ease;
}

.close-signin i {
    color: var(--icones);
    transition: all 0.3s ease;
    cursor: pointer;
}

.close-signin i:hover {
    color: var(--hover-texto);
}

.sign-in-space {
    width: 600px;
    height: 600px;
    margin: auto;
    /* background: #00cb55; */
}

.titulo-signin {
    width: 100%;
    height: 20%;
    /* background: #614ad3; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-signin h1 {
    text-transform: capitalize;
    color: #fff;
}

.sign-data {
    width: 100%;
    height: 60%;
    margin-top: 30px;
    /* background: #494657; */
    /* display: grid;
    justify-content: center;
    align-items: center; */
}

.sign-btn {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #beb3f9; */
}

.sign-btn button {
    border: none;
    background: #fff;
    color: #000;
    width: 49%;
    height: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 900;
    font-family: monospace;
    font-size: large;
}

.sign-btn button:hover {
    background: var(--hover-texto);
    color: var(--hover-shoes);
}

.data-space-signin {
    display: grid;
    max-width: 100%;
    /* padding: 30px; */
}

.data-space-signin p {
    text-transform: capitalize;
    font-family: monospace;
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}

.data-space-signin input {
    border: none;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background: #fff;
    outline: none;
    /* text-align: center; */
    padding: 20px;
    font-size: large;
    font-weight: 900;
    font-family: monospace;
}

@media screen and (max-width: 320px) {
    header {
        padding: 20px;
        transition: top 0.3s ease;
    }

    header.active-menu-nav {
        top: -60px;
    }

    .close-nav {
        display: flex;
        color: var(--icones);
        transition: all 0.3s ease;
    }

    .close-nav:hover {
        color: #333;
    }

    .menu-nav {
        display: block;
    }

    .menu-nav.active-menu-nav {
        opacity: 0;
    }

    nav {
        display: grid;
        background: var(--header);
        top: -400px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 0;
        opacity: 0;
        transition: height 0.2s ease;
    }

    nav.active-menu-nav {
        opacity: 1;
        height: 400px;
        top: 60px;
    }

    nav a {
        margin-left: 0;
        margin-top: 30px;
    }

    nav a i {
        margin-right: 0;
    }

    nav a button {
        margin-bottom: 20px;
    }

    nav a i::after {
        width: 100%;
    }

    .search {
        padding: 0;
        height: 100%;
    }

    .space-pesquisa input {
        font-size: medium;
    }

    .space-pesquisa i {
        font-size: 20px;
    }

    .sugestoes-pesquisa,
    .space-pesquisa i {
        margin-left: 20px;
    }

    .close-search {
        margin-top: 20px;
        margin-right: 20px;
    }

    /* .space-pesquisa i {
        display: none;
    } */

    .forma-controlo {
        width: 260px;
        padding-left: 20px;
        padding-right: 120px;
    }

    .coluna p {
        font-size: 11px;
    }

    .coluna h3 {
        font-size: medium;
    }

    .coluna ul a {
        font-size: small;
    }

    .social_links {
        font-size: small;
    }

    .forma-controlo::placeholder {
        font-size: x-small;
    }

    .footer_conteudo {
        margin-right: 30px;
        margin-left: 30px;
    }

    .bonus-separator {
        display: none;
    }

    /* .descricao-bonus{
        display: none;
    } */

    .img-bonus {
        width: 100%;
        height: 70%;
        position: absolute;
    }

    .descr-space {
        transform: translate(30%, 35%);
        display: flex;
    }

    .descr-space p {
        display: none;
    }

    .descr-space h1 {
        margin-bottom: 0;
    }

    .space-bonus {
        display: grid;
    }

    .sign-in-open{
        padding: 20px;
    }
    .sign-in-space{
        width: auto;
        height: 500px;
    }
}

@media screen and (max-width: 375px) {
    header {
        padding: 20px;
        transition: top 0.3s ease;
    }

    header.active-menu-nav {
        top: -60px;
    }

    .close-nav {
        display: flex;
        color: var(--icones);
        transition: all 0.3s ease;
    }

    .close-nav:hover {
        color: #333;
    }

    .menu-nav {
        display: block;
    }

    .menu-nav.active-menu-nav {
        opacity: 0;
    }

    nav {
        display: grid;
        background: var(--header);
        top: -400px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 0;
        opacity: 0;
        transition: height 0.2s ease;
    }

    nav.active-menu-nav {
        opacity: 1;
        height: 400px;
        top: 60px;
    }

    nav a {
        margin-left: 0;
        margin-top: 30px;
    }

    nav a i {
        margin-right: 0;
    }

    nav a button {
        margin-bottom: 20px;
    }

    nav a i::after {
        width: 100%;
    }

    .search {
        padding: 0;
        height: 100%;
    }

    .space-pesquisa input {
        font-size: medium;
    }

    .space-pesquisa i {
        font-size: 20px;
    }

    .sugestoes-pesquisa,
    .space-pesquisa i {
        margin-left: 20px;
    }

    .close-search {
        margin-top: 20px;
        margin-right: 20px;
    }

    /* .space-pesquisa i {
        display: none;
    } */

    .bonus-separator {
        display: none;
    }

    /* .descricao-bonus{
        display: none;
    } */

    .img-bonus {
        width: 100%;
        height: 70%;
        position: absolute;
    }

    .descr-space {
        transform: translate(45%, 35%);
        display: flex;
    }

    .descr-space p {
        display: none;
    }

    .descr-space h1 {
        margin-bottom: 0;
    }

    .space-bonus {
        display: grid;
    }

    .sign-in-open{
        padding: 20px;
    }
    .sign-in-space{
        width: auto;
        height: 500px;
    }
}

@media screen and (max-width: 426px) {
    header {
        padding: 20px;
        transition: top 0.3s ease;
    }

    header.active-menu-nav {
        top: -60px;
    }

    .close-nav {
        display: flex;
        color: var(--icones);
        transition: all 0.3s ease;
    }

    .close-nav:hover {
        color: #333;
    }

    .menu-nav {
        display: block;
    }

    .menu-nav.active-menu-nav {
        opacity: 0;
    }

    nav {
        display: grid;
        background: var(--header);
        top: -400px;
        left: 0;
        position: absolute;
        width: 100%;
        height: 0;
        opacity: 0;
        transition: height 0.2s ease;
    }

    nav.active-menu-nav {
        opacity: 1;
        height: 440px;
        top: 60px;
    }

    nav a {
        margin-left: 0;
        margin-top: 30px;
    }

    nav a i {
        margin-right: 0;
    }

    nav a button {
        margin-bottom: 20px;
    }

    nav a i::after {
        width: 100%;
    }

    .search {
        padding: 0;
        height: 100%;
    }

    .space-pesquisa input {
        font-size: medium;
    }

    .space-pesquisa i {
        font-size: 20px;
    }

    .sugestoes-pesquisa,
    .space-pesquisa i {
        margin-left: 20px;
    }

    .close-search {
        margin-top: 20px;
        margin-right: 20px;
    }

    /* .space-pesquisa i {
        display: none;
    } */

    .bonus-separator {
        display: none;
    }

    /* .descricao-bonus{
        display: none;
    } */

    .img-bonus {
        width: 100%;
        height: 70%;
        position: absolute;
    }

    .descr-space {
        transform: translate(45%, 35%);
        display: flex;
    }

    .descr-space p {
        display: none;
    }

    .descr-space h1 {
        margin-bottom: 0;
    }

    .space-bonus {
        display: grid;
    }

    .sign-in-open{
        padding: 20px;
        height: 100%;
    }
    .sign-in-space{
        width: auto;
        height: 500px;
    }
}